.addModal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.477);
    position: fixed;
    top: 0;
}

.addModal-container {
    width: 90%;
    margin: auto;
}

.addModal-flex {
    width: 450px;
    height: 300px;
    margin: auto;
    background-color: var(--main-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    animation: addModalAni .6s linear 1;
}

@keyframes addModalAni {
    0% {
        transform: translate(0, -1000px);
    }
}

.addModal-header {
    padding: 1% 1%;
    cursor: pointer;
    color: rgb(228, 70, 70);
    margin-bottom: 4%;
}

#close-icon {
    width: 25px;
    height: 25px;
}

.addModal-body {
    width: 380px;
    margin: auto;
    padding: 4% 0;
    direction: rtl;
}

.add-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.add-form input {
    width: 180px;
    margin-bottom: 5%;
    color: rgba(255, 255, 255, 0.607);
    outline: none;
    padding: 0 1%;
    height: 35px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--main-color);
}

.addModal-footer {
    width: 380px;
    margin: auto;
    padding: 4% 0;
}

.addModal-footer button {
    width: 80px;
    height: 35px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 7px rgb(0, 255, 255);
    background-color: var(--text-color);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.addModal-footer button:hover {
    transition: 0.6s;
    background-color: rgb(0, 255, 255);
}