.seenModal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.477);
}

.seenModal-container {
    width: 90%;
    margin: auto;
}

.seenModal-flex {
    width: 440px;
    height: 350px;
    margin: auto;
    background-color: var(--main-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    animation: seenModalAni .6s linear 1;
}

@keyframes seenModalAni {
    0% {
        transform: translate(0, -1000px);
    }
}

.seenModal-header {
    padding: 1% 1%;
}

#seenModal-icon {
    width: 25px;
    height: 25px;
    color: rgb(247, 107, 107);
}

#seenModal-icon:hover {
    transition: .3s;
    color: red;
}